<h1 class="text-4xl font-bold text-white p-6">Contact us</h1>
<section class="p-6 flex flex-col text-white md:flex-row">
  <form
    [formGroup]="contactForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col md:flex-row md:gap-12 lg:gap-32 py-6 w-full border-zinc-700 border-b"
  >
    <div class="flex flex-col">
      <div>
        <label>Select your interest <span class="text-red-500">*</span></label>

        <select
          class="text-white bg-black border mb-2 border-white px-4 py-2 rounded block w-[300px] lg:w-[400px]"
          formControlName="dropdown"
        >
          <option value="" disabled selected>Select from dropdown items</option>

          <option value="demo" class="text-white bg-black">
            Request a Demo
          </option>
          <option value="enquiries" class="text-white bg-black">
            General enquiries
          </option>
          <option value="investment" class="text-white bg-black">
            Prospective investment
          </option>
          <option value="partnership" class="text-white bg-black">
            Partnership
          </option>
          <option value="support" class="text-white bg-black">
            Customer Support
          </option>
          <option value="join" class="text-white bg-black">
            Joining our team
          </option>
        </select>
      </div>

      <div>
        @if(contactForm.get('dropdown')?.touched &&
        contactForm.get('dropdown')?.invalid) {
        <p class="text-red-400">Please select an option</p>
        }
      </div>

      <div>
        <label>Subject of query<span class="text-red-500">*</span></label>
        <input
          type="text"
          placeholder="Type..."
          class="block text-white bg-black border border-white mb-2 px-4 py-2 rounded w-[300px] lg:w-[400px]"
          formControlName="query"
        />
      </div>

      <div>
        @if(contactForm.get('query')?.touched &&
        contactForm.get('query')?.invalid) {
        <p class="text-red-400">Please enter a query</p>
        }
      </div>

      <div>
        <label>Your message<span class="text-red-500">*</span></label>
        <textarea
          rows="5"
          placeholder="Type..."
          class="block text-white bg-black border border-white px-4 py-2 mb-2 rounded w-[300px] lg:w-[400px]"
          formControlName="message"
        ></textarea>
      </div>
      <div>
        @if(contactForm.get('message')?.touched &&
        contactForm.get('message')?.invalid) {
        <p class="text-red-400">Please enter a message</p>
        }
      </div>
    </div>

    <div class="flex flex-col">
      <label>First name<span class="text-red-500">*</span></label>
      <input
        type="text"
        placeholder="Type..."
        class="block text-white bg-black border border-white mb-2 px-4 py-2 rounded w-[300px] lg:w-[400px]"
        formControlName="firstName"
      />
      <div>
        @if(contactForm.get('firstName')?.touched &&
        contactForm.get('firstName')?.invalid) {
        <p class="text-red-400">Please enter your first name</p>
        }
      </div>

      <label>Last name<span class="text-red-500">*</span></label>
      <input
        type="text"
        placeholder="Type..."
        class="block text-white bg-black border border-white mb-2 px-4 py-2 rounded w-[300px] lg:w-[400px]"
        formControlName="lastName"
      />
      <div>
        @if(contactForm.get('lastName')?.touched &&
        contactForm.get('lastName')?.invalid) {
        <p class="text-red-400">Please enter your last name</p>
        }
      </div>

      <label>Email<span class="text-red-500">*</span></label>
      <input
        type="email"
        placeholder="Type..."
        class="block text-white bg-black border border-white mb-2 px-4 py-2 rounded w-[300px] lg:w-[400px]"
        formControlName="email"
      />

      <div>
        @if(contactForm.get('email')?.touched &&
        contactForm.get('email')?.invalid) {
        <p class="text-red-400">Please enter a valid email</p>
        }
      </div>

      <label>Company<span class="text-red-500">*</span></label>
      <input
        type="text"
        placeholder="Type..."
        class="block text-white bg-black border border-white mb-2 px-4 py-2 rounded w-[300px] lg:w-[400px]"
        formControlName="company"
      />

      <div>
        @if(contactForm.get('company')?.touched &&
        contactForm.get('company')?.invalid) {
        <p class="text-red-400">Please enter a company</p>
        }
      </div>

      <button
        class="bg-red-400 text-white w-fit mt-6 hover:bg-red-300 transition-all p-2 px-4 rounded-lg cursor-pointer"
        type="submit"
      >
        Submit
      </button>
    </div>
  </form>
</section>
