<div class="text-white border border-white max-w-[400px] h-[420px]">
  <img
    [src]="blogCard.image"
    alt="blog image"
    class="w-full object-cover h-[200px]"
  />
  <div class="px-4">
    <div class="flex justify-between py-4">
      <p class="bg-red-400 rounded-md w-fit px-4 font-light">
        {{ blogCard.label }}
      </p>
      <p class="font-light">{{ blogCard.date }}</p>
    </div>
    <h3 class="text-2xl font-semibold">{{ blogCard.title }}</h3>
    <p class="font-light">{{ blogCard.description }}</p>
  </div>
</div>
