<section class="text-white p-4">
  <div class="md:grid md:grid-cols-2 px-4">
    <div>
      <h1 class="mt-12 mb-12 text-3xl font-bold">About us</h1>

      @for(text of aboutText; track $index) {
      <p class="py-2 md:w-96">
        {{ text.text }}
      </p>
      }

      <div class="flex flex-col py-6">
        <a
          class="underline font-semibold"
          href="https://medium.com/pace-ventures/why-we-invested-in-clearly-4f07db5dc388"
          >Pace Ventures: Why we invested in Clearly</a
        >
        <a
          class="underline font-semibold"
          href="https://smart-freight-centre-media.s3.amazonaws.com/documents/GLEC_FRAMEWORK_v3_UPDATED_02_04_24.pdf"
          >Read GLEC Framework</a
        >
      </div>
      <a routerLink="/contact">
        <app-button label="Request a demo" customClass="mt-4"></app-button
      ></a>
    </div>

    <div>
      <h3 class="mt-12 mb-12 text-xl font-bold md:text-3xl">
        Active in 9 countries
      </h3>
      <img src="countries.svg" alt="countries" />
    </div>
  </div>

  <img src="branching-mobile.png" alt="branch" class="w-full" />
  <div>
    <div>
      <p class="font-bold px-8 py-4 md:w-[650px]">
        Clearly creates a rich data ecosystem collected from each actor that has
        an impact on road transportation and the emissions it creates.
      </p>

      <p class="font-light px-8 md:w-[650px]">
        By blending this data and enriching it, we enable and empower all
        stakeholders in the industry to work individually and together to
        optimally reach net zero emissions.
      </p>
    </div>

    <img src="about-us.webp" alt="about us" />
  </div>
</section>
