<main class="overflow-hidden">
  <app-hero />
  <app-services />
  <app-decarbonisation-standards-component />
  <app-customers />

  <app-feature-section
    customClass="bg-zinc-400"
    label="Investors & Partners"
    [items]="investors"
  ></app-feature-section>

  <app-feature-section
    customClass="bg-zinc-500"
    label="Awards"
    [items]="awards"
  ></app-feature-section>

  <app-feature-section
    customClass="bg-zinc-600"
    label="Standards"
    [items]="standards"
  ></app-feature-section>
</main>
