<footer class="text-white p-6">
  <div class="grid grid-cols-2">
    <div>
      <ul>
        @for(link of footerLinks; track $index) {
        <li>
          <a
            class="hover:text-red-300 transition-all"
            [routerLink]="link.route"
            >{{ link.label }}</a
          >
        </li>
        }
      </ul>
    </div>

    <div class="flex-col">
      <ul>
        <li>
          <a
            href="/"
            class="underline hover:text-red-300 transition-all cursor-pointer"
            >Privacy Policy</a
          >
        </li>
      </ul>

      <div class="flex gap-4 mt-4">
        @for(icon of footerIcons; track $index) {
        <i [class]="icon"></i>
        }
      </div>
    </div>
  </div>

  <div class="md:flex md:items-center md:justify-between">
    <div>
      <p class="pt-6 font-light">
        &copy; Clearly 2025, Together Global Ltd. trading as "Clearly"
      </p>
      <p class="font-light text-gray-300 pb-4">
        EIT Urban Mobility is supported by the European Institute of Innovation
        and Technology (EIT), a body of the European Union
      </p>
    </div>

    <span>Website</span>
  </div>
</footer>
